
{% extends 'base_layout.html' %}
{% load static %}

<!DOCTYPE html>
<html>
{% block content %}


<div id="canvas">
  <img class="image-fluid" src="{% static 'I_Spy 1.png' %}" />
</div>

<div class="footer">
    <h3 id="item-list" class="center-horizontal" >Items: No items yet!</h3>
</div>
{{ room_name | json_script:"room-name"}}

<script src="{% static 'js/getGame.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = get_socket(window.location.host, roomName)
    initDraw(document.getElementById('canvas'), chatSocket);
</script>

<style>
    #item-list {
        color: #FFCB9A;
        font-size: 30px;
        margin: auto 0;
    }

</style>
{% endblock %}

</html>