{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech for Teletherapy</title>
  <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>

<body>
  <div class="center-horizontal">
    <button id="draw-switch">
      Click me to draw a box.
    </button>
    <button id="send-button">
      Click me to send the rectangles.
    </button>
    <button id="delete-button">
      Click me to delete the rectangles.
    </button>
  </div>
  <div id="canvas">
    
    <img class="image-fluid" src="{% static 'I_Spy 1.png' %}" />
  </div>
  {{ room_name | json_script:"room-name"}}
  
  <script src="{% static 'js/drawGame.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = get_socket(window.location.host, roomName);
    initDraw(document.getElementById('canvas'), chatSocket);
  </script>
</body>

</html>