{% extends 'base_layout.html' %}
{% load static %}

<!DOCTYPE html>
<html>
{% block content %}


<div id="canvas">
  <img class="image-fluid" id= "image-shown" src="{% static 'I_Spy 1.png' %}" />
</div>

<div class="footer">
  <div class="center-horizontal">
    <button id="draw-switch">
      Draw box
    </button>
    <button id="send-button">
      Send boxes
    </button>
    <button id="delete-button">
      Delete all
    </button>
    <button id="next-button">
      Next
    </button>
  </div>
</div>
{{ room_name | json_script:"room-name"}}

<script src="{% static 'js/drawGame.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  const roomName = JSON.parse(document.getElementById('room-name').textContent);
  const chatSocket = get_socket(window.location.host, roomName);
  initDraw(document.getElementById('canvas'), chatSocket);
  let images = []
  let coord_array = []
</script>
{% for ind_image in set_images %}
<script>
  image_url = '{{ ind_image.image.url }}'
  image_coord = {{ ind_image.coords }}
  console.log(image_coord);
  images.push(image_url);
  coord_array.push(image_coord)
</script>
{% endfor %}
<script>;
  let index = 0;
  let boxes = [];
  for (let i = 0; i < coord_array.length;i++){
    let width = coord_array[i][2] - coord_array[i][0];
    let height = coord_array[i][3] - coord_array[i][1];
    let temp = {
      top: coord_array[i][1],
      left: coord_array[i][0],
      width: width,
      height: height
    }
    boxes.push(temp);
  } 

  function makeRects(data) {
    var element = null;
    element = document.createElement('div');
    element.className = 'rectangle'
    element.id = "test"
    element.style.position = 'absolute'
    
    element.style.top = data['top'] + 'px'
    element.style.left = data['left'] + 'px'
    element.style.width = data['width'] + 'px'
    element.style.height = data['height'] + 'px'
    
    document.getElementById('canvas').appendChild(element)
  };
  $('#image-shown').attr('src',images[index]);
  makeRects(boxes[index]);
  //$('#image-shown').attr("src", images[0])
  $('#next-button').click(function(){
    document.querySelectorAll('.rectangle').forEach(rect => {
            rect.remove()
    });
    document.querySelectorAll('.client-click-pos').forEach(dot_pos =>{
      dot_pos.remove()
    });
    index++;
    makeRects(boxes[index]);
    $('#image-shown').attr('src',images[index]);

    console.log(images[index]);
    console.log(coord_array[index]);
  });
  
</script>
{% endblock %}

</html>