{% extends "base_layout2.html" %}
{% load static %}
{% block content %}
<section id="banner" class="style6">
    <div class="inner">
        <span class="image">
            <img src="images/pic07.jpg" alt="" />
        </span>
        <header class="major">
            <h1 id='title'>Lights (Nonverbal)</h1>
        </header>
        <div class="content">
            <p id='description'>Turn on the lights!</p>
        </div>
    </div>
</section>

<main>
    <div class="switchmode" id="game">
        <button class="switch_mode" onclick=>
          <a href="{% url 'main_app:light' %}">Switch to Verbal</a>
  
        </button>
      </div>
    <div class="image_center"
        style="display: flex; justify-content: center; padding-top: 0.75rem; padding-bottom: 3rem; align-items: center;">
        <button onclick="location.href='nonverbalpancake.html #game'" id='next' class="next" ;
            style="-webkit-transform: scaleX(-1); transform: scaleX(-1); padding-left: 0.75rem;"></button>
        <img id='lights' src="{% static 'voice_games_img/off.jpg'%}" alt="lights"
            style="padding-left: 5rem; padding-right: 5rem;">
        <button onclick="location.href='nonverbal_cookies.html #game'" id='next' class="next"
            style="padding-left: 0.75rem;"></button>
    </div>
    <div class="container" style='display: flex; justify-content: center;'>
        <button id='btnGiveCommand'>On!</button>
    </div>
    <p class="hints"></p>
    <div style="display: flex; justify-content: center;">
        <p class="output"><em></em></p>
    </div>
</main>

<script>
    var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
    var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
    var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent

    // sound file
    var lightsOnSound = new Audio("{% static 'voice_games_sounds/lightsOn.mp3'%}");
    var lightsOffSound = new Audio("{% static 'voice_games_sounds/lightsOff.mp3'%}");

    // define grammar we want to recognize
    var grammar = '#JSGF V1.0;'
    var message = document.querySelector('#message');
    var diagnostic = document.querySelector('.output');
    var lights = false;

    // create a speech recognition instance
    var recognition = new SpeechRecognition();

    // create a new speech grammar list
    var speechRecognitionList = new SpeechGrammarList();

    // add grammar to list 
    speechRecognitionList.addFromString(grammar, 1);

    recognition.grammars = speechRecognitionList;
    recognition.continuous = false;
    recognition.lang = 'en-US';
    recognition.interimResults = false;
    recognition.maxAlternatives = 1;

    recognition.addEventListener('soundstart', function () {
        if (lights == false) {
            lights = true;
            console.log(lights)
            lightsOnSound.play();
            document.querySelector('#title').innerHTML = "Turn Off the Lights";
            document.querySelector('#description').innerHTML = "Turn off the lights!";
            document.querySelector('#btnGiveCommand').innerHTML = "Off!";
            document.getElementById("lights").src = "{% static 'voice_games_img/on.jpg'%}";
        } else {
            lights = false;
            console.log(lights)
            lightsOffSound.play();
            document.querySelector('#title').innerHTML = "Turn On the Lights";
            document.querySelector('#btnGiveCommand').innerHTML = "On!";
            document.querySelector('#description').innerHTML = "Turn on the lights!";
            document.getElementById("lights").src = "{% static 'voice_games_img/off.jpg'%}";
        }
    });

    recognition.onspeechend = function () {
        recognition.stop();
    }

    recognition.onnomatch = function (event) {
        diagnostic.textContent = 'I didnt recognise that word.';
    }

    recognition.onerror = function (event) {
        diagnostic.textContent = 'Error occurred in recognition: ' + event.error;
    }

    document.querySelector('#btnGiveCommand').addEventListener('click', function () {
        recognition.start();
    });

</script>

{% endblock content %}