{% extends "base_layout2.html" %}
{% block content %}
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner" class="style6">
    <div class="inner">
        <span class="image">
            <img src="images/pic07.jpg" alt="" />
        </span>
        <header class="major">
            <h1>My Activities</h1>
        </header>
        <div class="content">
            <p>Game Sessions</p>
        </div>
    </div>
</section>

<div class="container" style="padding-top: 10rem; display: flex; justify-content: center; padding-bottom: 10rem;">
    <div class="dropdown">
        <button onclick="location.href='/home/custom_setup'" class="dropbtn"style='margin-left: 12rem; margin-right: 0rem; width: 257px; justify-content: center; display: flex;'>Make Your Game</button>
        <button onclick="location.href='/home/custom_game'" class="dropbtn"style='margin-left: 12rem; margin-right: 0rem; width: 257px; justify-content: center; display: flex;'>My Custom Game</button>
        <button onclick="location.href='/home/spinner_update'" class="dropbtn"style='margin-left: 12rem; margin-right: 0rem; width: 257px; justify-content: center; display: flex;'>Create Spinner</button>
        <button onclick="location.href='/home/spinner'" class="dropbtn"style='margin-left: 12rem; margin-right: 0rem; width: 257px; justify-content: center; display: flex;'> Custom Spinner</button>
        

<div class="container" style="padding-top: 10rem; display: flex; justify-content: center; padding-bottom: 10rem;">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"style='margin-left: 3rem; margin-right: 3rem; width: 257px; justify-content: center; display: flex;'>Verbal Games</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'main_app:pop' %}">Bubble</a>
            <a href="{% url 'main_app:pancake' %}">Pancake</a>
            <a href="{% url 'main_app:light' %}">Turn on the Lights</a>

        </div>
    </div>

    <div class="dropdown">
        <button onclick="myFunction2()" class="dropbtn">Nonverbal Games</button>
        <div id="myDropdown2" class="dropdown-content">
            <a href="nonverbalbubblegum.html">Bubblegum</a>
            <a href="nonverbalpancake.html">Pancake</a>
            <a href="nonverballights.html">Turn on the Lights</a>
        </div>
    </div>
</div>

{% endblock content %}