{% extends "base_layout.html" %}
{% load static %}
{% block content %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>
  <!-- Custom styles for this template -->
<link href="child-image.css" rel="stylesheet">
<!--header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between ml-2">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Tech For Teletherapy</strong>
        </a>
        <span class="navbar-brand">&lt;Doctor&gt; &lt;Child&gt;</span>
        <span class="navbar-brand">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
          </svg>
        </span>
        </button>
      </div>
    </div>
  </header-->

  <div class="center-horizontal">
    <button id="draw-switch">
      Click me to draw a box.
    </button>
    <button id='clear'>
      Clear
    </button>
  </div>
  <div id="canvas">
    
    <img class="image-fluid" src="{{ image.image.url }}" />
    
  </div>

  <footer class="bg-dark">
    <div class="container d-flex justify-content-between">
      <input type='text' class="" id="title">
      <span class="text-light font-size  ">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-mic-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
          <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </span>
      <span>&nbsp;</span>
      
      <button class="btn btn-primary" id="save">Save</a>
    </div>
  </footer>

  <link rel="stylesheet" href="{% static 'css/game.css' %}">
  <script src="{% static 'js/drawBox.js' %}"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  {% csrf_token %}
  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $('#title').val("{{ image.title }}")
    var post_url = '{% url 'main_app:save_image_edit' %}'
    var points;
    let image_info = {{ image.pk }}
    initDraw(document.getElementById('canvas'));
    //console.log("drawing box");
    $('#clear').click(function(){
      console.log("clicked");
      let rectall = $(".rectangle").map(function(){
        return this.innerHTML;
      }).get();
      console.log(rectall.join());
      $(".rectangle").remove();
      console.log(points)
    });
    $('#save').click(function(){
      console.log(post_url);
      console.log(points);
      console.log(image_info);
      $.post({
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin',
        type:"POST",
        url:post_url,
        data:{
          "points": JSON.stringify(points),
          "image_pk": JSON.stringify(image_info)
        },
        success: function(){
          window.location.replace('{% url 'main_app:dashboard' %}' );
        }
      });
    });
  </script>
  <style>
    #canvas{
      width: 100%;
      height: auto;
    }
  </style>
{% endblock %}