/* Doctor's Screen */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* I_Spy 1 */

position: absolute;
width: 1440px;
height: 900px;
left: calc(50% - 1440px/2);
top: 62px;

background: url(I_Spy.jpg);


/* Component 1 */

position: absolute;
width: 195px;
height: 211px;
left: 954px;
top: 231px;



/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 11.23%;
bottom: 0%;

border: 10px solid #2C3531;
box-sizing: border-box;


/* Rectangle 5 */

position: absolute;
left: 0%;
right: 59.18%;
top: 0%;
bottom: 88.77%;

background: #2C3531;
border-radius: 10px 10px 0px 0px;


/* Eraser */

position: absolute;
left: 2.04%;
right: 65.65%;
top: 0%;
bottom: 88.15%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFCB9A;



/* Rectangle 2 */

position: absolute;
width: 1440px;
height: 62px;
left: 0px;
top: 0px;

background: #2C3531;


/* Tech for Teletherapy */

position: absolute;
width: 477px;
height: 62px;
left: 38px;
top: 0px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 44px;
display: flex;
align-items: center;

color: #FFCB9A;



/* Group */

position: absolute;
left: 95.9%;
right: 0.62%;
top: 0.59%;
bottom: 94.53%;



/* Vector */

position: absolute;
width: 50px;
height: 50px;
right: 9px;
top: 6px;

background: #D9B08C;


/* Vector */

position: absolute;
width: 17.53px;
height: 22.5px;
right: 25.22px;
top: 16px;

background: #D9B08C;


/* Vector */

position: absolute;
width: 5px;
height: 5px;
right: 31.5px;
top: 41px;

background: #D9B08C;


/* Patient - <Child> */

position: absolute;
width: 183px;
height: 20px;
left: 452px;
top: 24px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFCB9A;



/* Rectangle 3 */

position: absolute;
width: 1440px;
height: 62px;
left: 0px;
top: 962px;

background: #116466;
mix-blend-mode: normal;


/* Rectangle 1 */

position: absolute;
width: 86px;
height: 63px;
left: 690px;
top: 962px;

background: #D1E8E2;


/* Vector */

position: absolute;
left: 49.17%;
right: 47.36%;
top: 94.63%;
bottom: 0.49%;

background: #000000;


/* bi:cursor */

position: absolute;
width: 40px;
height: 40px;
left: 223px;
top: 408px;



/* Group */

position: absolute;
left: 3.13%;
right: 11.07%;
top: 12.72%;
bottom: 1.47%;



/* Vector */

position: absolute;
left: 3.13%;
right: 11.07%;
top: 12.72%;
bottom: 1.47%;

background: #FFFFFF;
border: 3px solid #2C3531;


/* Component 1 */

position: absolute;
width: 245px;
height: 187px;
left: 263px;
top: 221px;



/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 11.23%;
bottom: 0%;

border: 10px solid #2C3531;
box-sizing: border-box;


/* Rectangle 5 */

position: absolute;
left: 0%;
right: 59.18%;
top: 0%;
bottom: 88.77%;

background: #2C3531;
border-radius: 10px 10px 0px 0px;


/* Batteries */

position: absolute;
left: 2.04%;
right: 61.22%;
top: 0%;
bottom: 88.24%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFCB9A;



/* Component 1 */

position: absolute;
width: 121px;
height: 282px;
left: 138px;
top: 605px;



/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 11.23%;
bottom: 0%;

border: 10px solid #2C3531;
box-sizing: border-box;


/* Rectangle 5 */

position: absolute;
left: 0%;
right: 59.18%;
top: 0%;
bottom: 88.77%;

background: #2C3531;
border-radius: 10px 10px 0px 0px;


/* Glue */

position: absolute;
left: 2.04%;
right: 61.22%;
top: 0%;
bottom: 88.24%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFCB9A;



/* Component 1 */

position: absolute;
width: 201px;
height: 187px;
left: 915px;
top: 773px;



/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 11.23%;
bottom: 0%;

border: 10px solid #2C3531;
box-sizing: border-box;


/* Rectangle 5 */

position: absolute;
left: 0%;
right: 59.18%;
top: 0%;
bottom: 88.77%;

background: #2C3531;
border-radius: 10px 10px 0px 0px;


/* Staples */

position: absolute;
left: 2.04%;
right: 61.22%;
top: 0%;
bottom: 88.24%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFCB9A;



/* Group */

position: absolute;
left: 60.97%;
right: 34.86%;
top: 94.53%;
bottom: 0.59%;



/* Vector */

position: absolute;
left: 60.97%;
right: 34.86%;
top: 94.53%;
bottom: 0.59%;

background: #000000;


/* entypo:chat */

position: absolute;
width: 50px;
height: 50px;
left: 900px;
top: 969px;



/* Current Items: {Batteries, Eraser, Glue, Staples} */

position: absolute;
width: 461px;
height: 34px;
left: 720px;
top: 14px;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #D9B08C;

border: 1px solid #000000;


/* ant-design:upload-outlined */

position: absolute;
width: 16px;
height: 16px;
left: 712px;
top: 504px;



/* Vector */

position: absolute;
left: 55.69%;
right: 40.83%;
top: 94.53%;
bottom: 0.59%;

background: #000000;


/* Vector */

position: absolute;
left: 42.64%;
right: 53.89%;
top: 95.02%;
bottom: 0.59%;

background: #000000;


/* Vector */

position: absolute;
left: 38.47%;
right: 59.17%;
top: 94.63%;
bottom: 0.49%;

background: #000000;


/* ant-design:upload-outlined */

position: absolute;
width: 16px;
height: 16px;
left: 712px;
top: 504px;



/* Vector */

position: absolute;
left: 13.48%;
right: 13.48%;
top: 15.62%;
bottom: 15.62%;

background: #000000;


/* ant-design:upload-outlined */

position: absolute;
width: 16px;
height: 16px;
left: 712px;
top: 504px;



/* Vector */

position: absolute;
left: 13.48%;
right: 13.48%;
top: 15.62%;
bottom: 15.62%;

background: #000000;
