html, body {
  height: 100%;
}

* {
  color: inherit;
}

#canvas {
  font-family: 'Quicksand';
  font-weight: 400;;
  color: #FFCB9A;
  width:2000px;
  height:2000px;
  border: 10px solid transparent;
}
.rectangle {
  color: inherit;
  border: 5px solid #2C3531;
  position: absolute;
}

.rectangle-header {
  background: #2C3531;
  border-radius: 5px 5px 0 0;
  height: 30px;
  line-height: 30px;
  width: 25%;
  min-width: 100px;
  position: relative;
  top: -30px;
  left: -5px;
}

.rectangle-title {
  background: #2C3531;
  font-weight: 700;
  font-size: 1.2em;
  border: none;
  width: 90%;
}

.center-horizontal {
  text-align: center;
}

.center-vertical *{
  margin: auto;
}